@import 'vars.styl';

.main-footer{
    background-color: $branco;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 118px 0;
    width: 100%;
    .filho-container{
        justify-content: space-between;
    }
}

.navegacao{
    align-items: center;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    width: auto;
    .pai-logo{
        align-items: center;
        display: flex;
        margin-bottom: 56px;
        width: 100%;
        a{
            align-items: center;
            display: flex;
            flex-flow: wrap;
            height: fit-content;
            justify-content: center;
            position: relative;
            width: fit-content;
            &::after{
                background-color: rgba(255, 255, 255, 0.3);
                content: '';
                height: 100%;
                opacity: 0;
                position: absolute;
                transition: opacity 0.4s;
                width: 100%;
            }
            &:hover{
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    .container-referencias{
        display: flex;
        flex-flow: wrap;
        .referencia{
            align-items: center;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            text-align: center;
            padding-left: 24px;
            padding-right: 24px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            &:not(:last-child){
                position: relative;
                &::after{
                    background-color: $vermelho;
                    bottom: 0;
                    content: '';
                    height: 38px;
                    margin: auto 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                }
            }
            a{
                texto_cinza(null);
                text-align: center;
                transition: font-size .4s, text-shadow .2s;
                &:hover{
                    font-size: 17px;
                    text-shadow: 0 0 0.65px #575757, 0 0 0.65px #575757;
                }
            }       
        }
    }
}

.newsletter{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 126px;
    padding-top: 68px;
    .legenda{
        display: flex;
        flex-flow: wrap;
        margin-bottom: 14px;
        img{
            margin-right: 18px;
            width: 46px;
        }
        .container-texto{
            margin-top: 4px;
            width: calc(100% - 46px - 18px);
            p{
                texto_cinza(null);
            }
        }
    }
    .formulario{
        display: flex;
        flex-flow: wrap;
        position: relative;
        input{
            border-radius: 4px;
            height: 44px;
            padding-left: 26px;
            padding-right: 70px;
            width: 420px;
            &.fonte{
                color: $cinza_84;
                font-family: $barlow;
                font-size: 16px;
                font-stretch: normal;
                font-style: normal;
                font-weight: normal;
                letter-spacing: normal;
                line-height: 1.25;
                text-align: left;
            }
        }
        button{
            height: 44px;
            font-size: 20px;
            font-weight: 600;
            margin-left: -64px;
        }
        .callback{
            display: none;
        }
    }
}

.modal-contato{
    align-items: center;
    bottom: 0;
    background-color: $vermelho;
    display: flex;
    flex-flow: wrap;
    height: fit-content;
    justify-content: center;
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 0 68px;
    position: fixed;
    right: 0;
    top: 0;
    transition: z-index 0.1s 0.5s, opacity 0.5s 0s;
    width: 560px;
    z-index: -9999;
    &.active{
        opacity: 1;
        z-index: 9999;
        transition: z-index 0.1s, opacity 0.5s 0.1s !important;
    }
    h2{
        margin-bottom: 14px;
        margin-top: 34px;
        text-align: center;
        width: 100%;
        &.fonte{
            texto_destacado_branco(null);
            font-weight: 500;
            text-align: center;
        }
    }
    .formulario{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        .row{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            width: 100%;
            label{
                color: $branco;
                font-family: $barlow;
                font-size: 12px;
                font-stretch: normal;
                font-style: normal;
                font-weight: normal;
                letter-spacing: normal;
                line-height: 1.17;
                margin-bottom: 4px;
                text-align: left;
                text-indent: 2px;
                width: 92%;
            }
            input{
                border-radius: 3px;
                color: $cinza_ce;
                font-family: $barlow;
                font-size: 16px;
                font-stretch: normal;
                font-style: normal;
                font-weight: normal;
                height: 34px;
                letter-spacing: normal;
                line-height: 1.19;
                margin-bottom: 12px;
                text-align: left;
                text-indent: 14px;
                width: 92%;
                &::placeholder{
                    color: $cinza_ce;
                }
            }
        }
        textarea{
            border-radius: 3px;
            color: $cinza_ce;
            font-family: $barlow;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1.19;
            margin-bottom: 12px;
            margin-top: 14px;
            padding: 14px;
            text-align: left;
            text-indent: 14px;
            width: 100%;
            &::placeholder{
                color: $cinza_ce;
            }
        }
        button{
            border: 0;
            margin-bottom: 38px;
            margin-top: 14px;
        }
    }
}

.fundo-escuro{
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: z-index 0.1s 0.5s, opacity 0.5s 0s;
    width: 100%;
    z-index: -9999;
    &.active{
        transition: z-index 0.1s, opacity 0.5s 0.1s !important;
        opacity: 0.4;
        z-index: 999;
    }
}

#callback-copiado{
    texto_destacado_cinza(null);
    background-color: $cinza_amarelado;
    bottom: 50px;
    padding: 16px 12px;
    position: fixed;
    opacity: 0;
    text-align: center;
    transition: z-index 0.1s 0.5s, opacity 0.5s 0s;
    width: 100%;
    z-index: -9999;
    &.active{
        transition: z-index 0.1s, opacity 0.5s 0.1s !important;
        opacity: 1;
        z-index: 9999;
    }
}

.seta-voltar-topo{
    background-color: $vermelho;
    border-radius: 1px;
    bottom: 100px;
    cursor: pointer;
    height: 76px;
    position: fixed;
    right: 190px;
    transition: background-color 0.5s;
    width: 76px;
    &:hover{
        background-color: $vermelho_cf;
    }
    img{
        width: 24px;
    }
}


// Responsivo

@media(max-width: 1700px){
    .seta-voltar-topo{
        right: 4vw;
    }
}

@media(max-width: 1530px){
    .main-footer{
        .filho-container{
            justify-content: space-around;
        }
    }
    .newsletter{
        margin-right: 0;
    }
}

@media(max-width: 1280px){
    .navegacao{
        margin-right: 12px;
        .pai-logo{
            img{
                transition-duration: 0.4s;
                width: 220px;
            }
        }
    }
    .newsletter{
        margin-left: 12px;
        .formulario{
            input{
                width: 370px;
            }    
        }
    }

}

@media(max-width: 1080px){
    .navegacao{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 52px;
        .pai-logo{
            justify-content: center;
        }
        .legenda{
            justify-content: center;
            .container-texto{
                display: flex;
                flex-flow: wrap column;
                width: fit-content;
            }
        }
    }
    .newsletter{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 40px;
    }

}

@media(max-width: 980px){
    .main-footer{
        padding: calc(6vw + 3rem) 0;
    }

    .newsletter{
        margin-left: 5%;
        margin-right: 5%;
    }
    .navegacao{
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media(max-width: 720px){
    .newsletter{
        margin-left: 0;
        margin-right: 0;
    }
    .navegacao{
        margin-left: 0;
        margin-right: 0;
        .pai-logo{
            img{
                width: 200px;
            }
        }
    }
    .seta-voltar-topo{
        height: 64px;
        width: 64px;
    }
    
}

@media(max-width: 568px){
    .main-footer{
        padding: calc(6vw + 2rem) 0;
    }
    .newsletter{
        padding-top: 0px;
        margin-bottom: 0;
        .formulario{
            justify-content: center;
            input{
                font-size: 16px;
                height: 40px;
                padding-left: 20px;
                width: calc(100% - 58px);
            }
            button{
                font-size: 16px;
                height: 40px;
                min-width: 110px;
            }
        }
    }
    .navegacao{
        .pai-logo{
            margin-bottom: 36px;
            img{
                width: 180px;
            }
        }
        .container-referencias{
            justify-content: center;
            .referencia{
                min-width: 300px;
                margin-top: 6px;
                padding-bottom: 18px;
                padding-left: 0;
                padding-right: 0;
                position: relative !important;
                width: 52%;
                &::after{
                    background-color: $vermelho;
                    bottom: -10px !important;
                    content: '';
                    height: 1px !important;
                    left: 0 !important;
                    margin: auto !important;
                    position: absolute;
                    right: 0 !important;
                    top: 0 !important;
                    width: 200px !important;
                }
            }
        }
    }
    .seta-voltar-topo{
        height: 54px;
        right: 3vw;
        width: 54px;
        img{
            width: 18px;
        }
    }
    
}

@media(max-width: 500px){
    .newsletter{
        .filho-container{
            padding: 8vw 0;
        }
    }

}

@media(max-width: 416px){
    .newsletter{
        .formulario{
            input{
                padding-right: 10px;
                width: 100%;
            }
            button{
                margin-left: 0;
                margin-top: 16px;
                min-width: 170px;
            }
        }
    }
}

@media(max-width: 368px){
    .newsletter{
        .filho-container{
            .legenda{
                img{
                    margin-right: 0;
                }
                .container-texto{
                    text-align: center;
                    width: 100%;
                    p{
                        font-size: 20px;
                        text-align: center;
                    }
                }
            }
            .formulario{
                flex-flow: wrap;
                input{
                    font-size: 14px;
                    height: 42px;
                    padding-left: 18px;
                    padding-right: 0;
                    width: 90%;
                }
                button{
                    font-size: 14px;
                    height: 42px;
                    margin-left: 0;
                    margin-top: 12px;
                }
            }
        }
    }
    .footer{
        .filho-container{
            .colunas{
                .coluna{
                    margin-bottom: 20px;
                }
            }
            .meios-para-contato{
                .telefones{
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .seta-voltar-topo{
        height: 44px;
        right: 30px;
        width: 44px;
        img{
            width: 14px;
        }
    }
    
}