@import 'vars.styl';

@font-face{
    font-family: 'castro';
    src: url('../font/CastroScript.ttf');
}

body{
    background-color: $cinza_f7;
}

html {
  scroll-behavior: smooth;
}

.linha-degrade{
    background: $azul;
    background: -moz-linear-gradient(left, $vermelho 0%, $azul 100%);
    background: -webkit-linear-gradient(left, $vermelho 0%, $azul 100%);
    background: linear-gradient(to right, $vermelho 0%, $azul 100%);
    height: 16px;
}

.degrade-top-red{
    background: -moz-linear-gradient(top, $vermelho 0%, $azul 100%);
    background: -webkit-linear-gradient(top, $vermelho 0%, $azul 100%);
    background: linear-gradient(to bottom, $vermelho 0%, $azul 100%);
}

button{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.botao-vermelho{
    align-items: center;
    background-color: $vermelho;
    border: 0;
    border-radius: 4px;
    display: flex;
    flex-flow: wrap;
    height: 50px;
    justify-content: center;
    transition-duration: 0.6s;
    width: 116px;
    &.fonte-branca{
        color: $branco;
        font-family: $barlow;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 600;
        letter-spacing: normal;
        line-height: 1.25;
        text-align: center;
        &:hover{
            background-color: $vermelho_a9;
            color: $cinza_f7;
            transition-duration: 0.6s;
        }
    }
    &.fonte-amarela{
        color: $branco_amarelado;
        font-family: $barlow;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 600;
        letter-spacing: normal;
        line-height: 1.25;
        text-align: center;
        &:hover{
            background-color: $vermelho_a9;
            color: $branco;
            transition-duration: 0.6s;
        }
    }
}


.esconder{
    display: none !important;    
}

.largura-100{
    width: 100% !important;
}

.circulo-branco{
    align-items: center;
    background-color: $branco;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 82px;
    width: 82px;
}

.centralizar{
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.breadcrumb{
    align-items: center;
    background-color: #efefef;
    display: flex;
    flex-flow: wrap;
    min-height: 48px;
    width: 100%;
    .filho-container{
        align-items: center;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
        width: 100%;    
        p{
            color: #848484;
            font-family: $barlow;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            font-weight: bold;
            letter-spacing: normal;
            line-height: 1.63;
            text-align: left;
        }
        a{
            color: #848484;
            font-family: $barlow;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1.63;
            text-align: left;
        }
    }
}

.circulo-cinza{
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.container-titulo{
    &.padrao{
        align-items: center;
        display: flex;
        width: 100%;
        h1{
            color: #000000;
            font-family: $barlow;
            font-size: 32px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 600;
            letter-spacing: normal;
            line-height: 1.63;
            text-align: center;
            min-width: fit-content;
        }
        .risco-cinza{
            background-color: $cinza_db;
            height: 2px;
            margin-top: 12px;
            width: 100%;
        }
    }
}

.bolinha-azul{
    background-color: $azul;
    border: solid 3px $cinza_db;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.bolinha-vermelha{
    background-color: $vermelho;
    border: solid 3px $cinza_db;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.filho-container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.opcao{
    align-items: center;
    cursor: default;
    display: flex;
    height: 16px;
    margin-bottom: 28px;
    padding-left: 32px;
    position: relative;
    width: 100%;
    span{
        left: 0;
        top: 1px;
    }
    label{
        color: $cinza_84;
        font-size: 16px;
        font-family: $barlow;
        font-weight: normal;
        letter-spacing: 0;
        line-height: 25px;
        text-align: left;
        cursor: pointer;
    }
    input{
        display: none;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked~.checkmark{
            background-color: $azul;
            &::after{
                display: block;
            }
        }
    }
    .checkmark{
        background-color: transparent;
        border: 1px solid $azul;
        border-radius: 4px;
        height: 15px;
        position: absolute;
        transition-duration: 0.3s;
        width: 15px;
        &:hover{
            background-color: #7ea2ff;
        }
    }
}

.botao-vermelho-escuro{
    background-image: linear-gradient(270deg, $vermelho -23%,$azul_secundario 357%);
    border-radius: 4px;
    height: 40px;
    width: 160px;
    &.fonte-branca{
        color: $branco;
        font-family: $barlow;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 1.63;
        text-align: center;
    }
    &:hover{
        background-position: 160px !important;
        transition-duration: 0.6s;
    }
}

.botao-cinza-escuro{
    background-color: $cinza_89;
    border-radius: 4px;
    height: 32px;
    width: 138px;
    &.fonte-branca{
        color: $branco;
        font-family: $barlow
        font-weight: bold;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: 1.64;
        text-align: center;
    }
}

.botao-amarelo-claro{
    align-items: center;
    background-color: $branco_amarelado;
    border-radius: 1px;
    display: flex;
    flex-flow: wrap;
    height: 40px;
    justify-content: center;
    text-align: center;
    transition-duration: 0.6s;
    width: 157px;
    &.fonte-vermelha{
        texto_vermelho(null);
        font-weight: 600;
        &:hover{
            background-color: $branco;
            color: $cinza_45;
        }
    }
}

.largura-total{
    width: 100%;
}


// Animacoes
.anime-init {
	opacity: 1 !important;
	transform: translate3D(0px, 0px, 0px) !important;
	transition: .8s all ease !important;
    &.delay-0{
        transition-delay: 0s !important;
    }

    &.delay-1{
        transition-delay: 0.5s !important;
    }
    &.delay-2{
        transition-delay: 1s !important;
    }

    &.delay-3{
        transition-delay: 1.5s !important;
    }
    &.delay-4{
        transition-delay: 2s !important;
    }
    &.delay-5{
        transition-delay: 2.5s !important;
    }
    &.delay-6{
        transition-delay: 3s !important;
    }

    &.delay-7{
        transition-delay: 3.5s !important;
    }
    &.delay-8{
        transition-delay: 4s !important;
    }
    &.delay-9{
        transition-delay: 4.5s !important;
    }
    &.delay-10{
        transition-delay: 5s !important;
    }
}

.anime {
	opacity: 0;
	transform: translate3D(0px, 30px, 0px);
    transition: .8s all ease;
}

.anime-to-right{
	opacity: 0;
	transform: translate3D(-30px, 0px, 0px);
    transition: .8s all ease;
    &.delay-0{
        transition-delay: 0s !important;
    }

    &.delay-1{
        transition-delay: 1s !important;
    }
    &.delay-2{
        transition-delay: 2s !important;
    }

    &.delay-3{
        transition-delay: 3s !important;
    }
    &.delay-4{
        transition-delay: 4s !important;
    }
    &.delay-5{
        transition-delay: 5s !important;
    }
    &.delay-6{
        transition-delay: 6s !important;
    }

    &.delay-7{
        transition-delay: 7s !important;
    }
    &.delay-8{
        transition-delay: 8s !important;
    }
    &.delay-9{
        transition-delay: 9s !important;
    }
    &.delay-10{
        transition-delay: 10s !important;
    }
}

.anime-to-left{
	opacity: 0;
	transform: translate3D(30px, 0px, 0px);
    transition: .8s all ease;
    &.delay-0{
        transition-delay: 0s !important;
    }

    &.delay-1{
        transition-delay: 1s !important;
    }
    &.delay-2{
        transition-delay: 2s !important;
    }

    &.delay-3{
        transition-delay: 3s !important;
    }
    &.delay-4{
        transition-delay: 4s !important;
    }
    &.delay-5{
        transition-delay: 5s !important;
    }
    &.delay-6{
        transition-delay: 6s !important;
    }

    &.delay-7{
        transition-delay: 7s !important;
    }
    &.delay-8{
        transition-delay: 8s !important;
    }
    &.delay-9{
        transition-delay: 9s !important;
    }
    &.delay-10{
        transition-delay: 10s !important;
    }
}

.animacao-init-fade-up{
    opacity: 1 !important;
	transform: translate3D(0px, 0px, 0px) !important;
	transition: .8s all ease !important;
}

.animacao-fade-up{
    opacity: 0;
	transform: translate3D(0px, 100px, 0px);
    transition: .8s all ease;
}

.camada-degrade{
    position: relative;
    & > * {
        position: relative;
        z-index: 1;
    }
    &::before{
        background: $azul;
        background-image: -moz-linear-gradient(216deg, $vermelho, $azul);
        background-image: -webkit-linear-gradient(216deg, $vermelho, $azul);
        background-image: linear-gradient(216deg, $vermelho, $azul);
        content: '';
        display: flex;
        left: 0;
        opacity: 0.55;
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
    }
}

.bloquear-scroll{
    display: flex;
    flex-flow: wrap;
    position: fixed;
    width: 100vw;
}

.secao-conteudo{
    &.index-negativo{
        position: relative;
        z-index: -1;
    }
}

.index-header{
    position: sticky;
    z-index: 99;
}

.risco-vermelho{
    background-color: $vermelho;
    height: 16px;
    width: 100%; 
}


.cards-produtos{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    .card{
        align-items: center;
        display: flex;
        flex-flow: wrap;
        width: 588px;
        &:nth-child(5n - 2), &:nth-child(5n - 1){
            flex-flow: row-reverse;
        }
        .pai-imagem{
            width: 50%;
            a{
                display: flex;
                flex-flow: wrap;
                height: fit-content;
                position: relative;
                width: fit-content;
                &::after{
                    align-items: center;
                    background-color: transparent;
                    content: 'Ver Produtos';
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    opacity: 0;
                    position: absolute;
                    texto_destacado_branco(null);
                    top: 0;
                    transition: opacity 0.1s 0s, background-color 0.5s 0.1s;
                    width: 100%;
                }
                &:hover{
                    &::after{
                        background-color: rgba(149, 25, 32, 0.64);
                        opacity: 1;
                    }
                }
            }
        }
        .texto{
            height: fit-content;
            margin-top: 32px;
            padding-left: 28px;
            padding-right: 28px;
            width: 50%;
            span{
                align-items: flex-end;
                display: flex;
                height: 0;
                margin-left: 6px;
                padding-bottom: 29px;
                texto_destacado_vermelho(null);
            }
            p{
                texto_cinza_70(null);
            }
            a{
                margin-top: 20px;
            }
        }
    }
}
    
.quadrado-seta{
    align-items: center;
    background-color: $vermelho;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s;
    height: 38px;
    width: 38px;
    &:hover{
        background-color: $vermelho_cf;
    }
}



// Responsivo

@media(max-width: 1366px){
    .container-titulo{
        h1{
            margin: 0 calc(1rem + 1vw);
            &.fonte{
                font-size: calc(1.8rem + 0.2vw);
            }
        }
    }
}

@media(max-width: 1200px){
    .cards-produtos{
        .card{
            width: 50% !important;
            .texto{
                span{
                    font-size: 20px !important;
                }
            }
        }
    }

}

@media(max-width: 1130px){
    .cards-produtos{
        .card{
            width: 588px !important;
            &:nth-child(even){
                flex-flow: row-reverse !important;
            }
            &:nth-child(odd){
                flex-flow: row !important;
            }
            .texto{
                span{
                    font-size: 24px !important;
                }
            }
        }
    }
        
}

@media(max-width: 640px){
    .cards-produtos{
        .card{
            width: 100%;
            .texto{
                margin-top: 0 !important;
                padding-left: 16px !important;
                padding-right: 16px !important;
                span{
                    height: auto !important;
                    padding-bottom: 0 !important;
                    margin-bottom: 12px !important;
                }
            }
        }
    }
}

@media(max-width: 568px){
    .cards-produtos{
        .card{
            flex-flow: wrap !important;
            margin-bottom: 40px !important;
            &:nth-child(even){
                flex-flow: wrap !important;
            }
            &:nth-child(odd){
                flex-flow: wrap !important;
            }
            .pai-imagem{
                display: flex !important;
                flex-flow: wrap !important;
                justify-content: center !important;
                margin-bottom: 12px !important;
                width: 100% !important;
            }
            .texto{
                display: flex !important;
                flex-flow: wrap !important;
                justify-content: center !important;
                padding-left: 8px !important;
                padding-right: 8px !important;
                text-align: center !important;
                width: 100% !important;
                span{
                    justify-content: center !important;
                    margin-left: 0 !important;
                    text-align: center !important;
                    width: 100% !important;
                }
                p{
                    max-width: 300px !important;
                    padding-right: 12px !important;
                    width: calc(100% - 76px) !important;
                }
                a{
                    margin-left: 12px !important;
                    margin-right: 12px !important;
                    margin-top: 0 !important;
                }
            }
        }
    }

}

@media(max-width: 400px){
    .cards-produtos{
        .card{
            .texto{
                p{
                    max-width: unset !important;
                    text-align: center !important;
                    width: 96% !important;
                }
                a{
                    margin-top: 16px !important;
                }
            }
        }
    }
}