@import 'vars.styl';

.header{
    align-items: center;
    background-color: $vermelho;
    display: flex;
    flex-flow: wrap;
    padding: 30px 0;
    width: 100%;
    &.active{
        position: relative;
        z-index: 99999;
    }
    .filho-container{
        align-items: center;
        width: 100%;
        .header-logo{
            align-items: center;
            display: flex;
            margin-left: 40px;
            margin-right: 40px;
            img{
                max-width: 225px;
            }
        }
        ul{
            align-items: center;
            display: flex;
            flex-flow: wrap
            width: 100%;
            li{
                display: flex;
                margin: 0 40px;
                position: relative;
                .seta-dropdown{
                    cursor: pointer;
                    margin-left: 8px;
                    width: 18px;
                }
                a{
                    display: flex;
                    justify-content: center;
                    position: relative;
                    text-align: center;
                    transition-duration: 0.6s;
                    img{
                        max-width: 22px;
                        padding-top: 8px;
                        transition-duration: 1s;
                    }
                    &.fonte{
                        texto_branco_amarelado(null);
                    }
                    &.active{
                        color: $branco;
                        font-weight: 600;
                        img{
                            padding-top: 0;
                            transform: rotateZ(-180deg);
                            width: 22px !important;
                        }
                        &:hover{
                            color: $branco;
                            font-weight: 600;
                        }
                    }
                    &.link-produtos{
                        &:hover{
                            color: $branco_amarelado;
                            font-weight: 400;
                            img{
                                width: 18px;
                            }
                        }
                        &.active{
                            color: $branco;
                            font-weight: 600;
                            &:hover{
                                color: $branco;
                                font-weight: 600;
                            }
                        }
                    }
                    &:hover{
                        color: $branco;
                        font-weight: 600;
                    }
                }
            }
        }
        .menu-desktop{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .dropdown{
            bottom: 46px;
            border-radius: 4px;
            height: 0;
            left: 0;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 91px;
            transition: overflow 0s, opacity 0.2s 0.7s, height 0.7s;
            width: 340px;
            &.active{
                opacity: 1;
                overflow: visible;
                transition: overflow 0s, opacity 0.2s, height 0.7s 0.2s;
            }
            .lista-categorias{
                background-color: $branco;
                border-radius: 4px;
                padding: 24px 0;
                transition-duration: 0.6s;
                width: 100%;
                &.active{
                    background-color: $branco_amarelado;
                }
                .categoria{
                    height: 48px;
                    padding-left: 44px;
                    padding-right: 54px;
                    position: relative;
                    width: 100%;
                    &:hover{
                        background-color: $branco_amarelado;
                        .seta-categoria{
                            display: flex;
                        }
                    }
                    .seta-categoria{
                        bottom: 0;
                        display: none;
                        position: absolute;
                        margin: auto 0;
                        right: 24px;
                        top: 0;
                    }
                    a,p{
                        align-items: center;
                        cursor: pointer;
                        height: 100%;
                        justify-content: flex-start;
                        transition-duration: 0.6s;
                        &:hover{
                            font-weight: 600;
                        }
                        &.active{
                            font-weight: 600;
                        }
                        &.fonte{
                            texto_vermelho(null);
                            text-align: left;
                        }
                    }
                    .seta{
                        display: none;
                        width: 10px;
                    }
                    .lista-produtos{
                        background-color: $branco_amarelado;
                        border-radius: 4px;
                        display: none;
                        padding: 20px 38px;
                        position: absolute;
                        top: -23px;
                        right: -282px;
                        width: 282px;
                        &.active{
                            display: block;
                        }
                        .produto{
                            display: flex;
                            flex-flow: wrap;
                            padding: 14px 0;
                            width: 100%;
                            a{
                                display: block;
                                width: 100%;
                                &.fonte{
                                    color: $vermelho;
                                    font-family: $barlow;
                                    font-size: 16px;
                                    font-stretch: normal;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: normal;
                                    line-height: 1;
                                    text-align: left;
                                }
                                &:hover{
                                    font-weight: 600;    
                                }
                            }
                        }
                    }
                }
            }
        }
        .whatsapp{
            position: absolute;
            right: 16.9%;
            img{
                max-width: 32px;
                padding-top: 0;
            }
        }
        .container-toggle-menu{
            display: none;
            flex-flow: wrap;
            position: relative;
            width: 50px;
            z-index: 99999;
            .toggle-menu{
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                position: unset;
                transition: z-index 1s 2s, position 1s 3s;
                width: 50px;
                z-index: 99999;
                &.active{
                    span:nth-child(1){
                        background-color: $branco;
                        transform: rotate(45deg);
                        margin-bottom: 0;
                        transition: transform .6s;
                    }
                    span:nth-child(2){
                        background-color: $branco;
                        margin: 0;
                        margin-top: -4px;
                        transform: rotate(-45deg);
                        transition: transform .6s;
                    }
                    span:nth-child(3){
                        background-color: $branco;
                        opacity: 0;
                        position: absolute;
                        top: -300px;
                        transition: opacity 0s;
                    }
                }
                span{
                    background-color: $branco;
                    display: flex;
                    height 4px;
                    margin-bottom: 6px;
                    opacity: 1;
                    transform: rotate(0);
                    transition: opacity .2s .5s, transform .6s 0.1s, background-color .4s .4s, z-index .2s 2s, margin 0s .5s;
                    width: 30px;
                    z-index: 99999;
                }
            }
        }
        .container-menu-responsivo{
            display: none;
            flex-flow: wrap;
            height: 0;
            justify-content: center;
            margin: 0;
            opacity: 0;
            position: absolute;
            transition: z-index .1s 0s ease;
            top: 117px;
            width: 100%;
            z-index: -9999;
            &.active{
                height: auto;
                transition: z-index .1s 1s ease;
                z-index: 9999;
            }
            .menu-responsivo{
                background-color: $vermelho_a9;
                border-radius: 0px;
                border-top: 2px solid $branco_amarelado;
                bottom: 0;
                height: auto;
                left: 0;
                opacity: 1;
                padding-top: 0;
                position: relative;
                right: 0;
                transition: top 1.2s, z-index .1s 1.2s;
                width: 100vw;
                z-index: -9999;
                .header-logo{
                    display: none !important;
                }
                &.active{
                    top: 0 !important;
                    transition: top 1.2s, z-index 0.1s 1.2s;
                    z-index: 9999;
                }
                li{
                    flex-flow: wrap;
                    justify-content: center;
                    margin: 14px 0;
                    padding: 0 16px;
                    text-align: center;
                    width: 100%;
                    &.pai-link-produtos{
                        position: relative;
                        z-index: 9999;
                    }
                    a{
                        color: $branco;
                        font-size: 20px;
                    }
                }
                .dropdown{
                    left: 0;
                    min-width: 100vw;
                    margin-top: 14px;
                    position: relative;
                    right: 0;
                    top: 0;
                    width: 100%;
                    &.active{
                        transition: overflow 0s,opacity .2s 0.9s,height .7s .2s;
                    }
                    .lista-categorias{
                        .categoria{
                            p{
                                display: flex;
                            }
                            &:hover{
                                background-color: transparent;
                                .seta-categoria{
                                    display: none;
                                }
                            }
                            &.active{
                                background-color: $branco_amarelado;
                                height: auto;
                                padding-bottom: 0;
                                padding-top: 24px;
                                & > a,p{
                                    color: $vermelho_cf;
                                    font-weight: 600;
                                }
                                .lista-produtos{
                                    display: block;
                                }
                            }
                            .seta-categoria{
                                img{
                                    transform: rotateZ(90deg);
                                    width: 20px;
                                    max-width: 30px;
                                }
                            }
                            .lista-produtos{
                                max-width: 100%;
                                min-width: 100%;
                                overflow: hidden;
                                padding: 0;
                                position: unset;
                                transition: height 0.6s, padding 0.6s 0.2s;
                                .produto{
                                    a{
                                        position: relative;
                                        &::after{
                                            background-color: $vermelho;
                                            bottom: 0;
                                            border-radius: 50%;
                                            content: '';
                                            left: -16px;
                                            margin: auto 0;
                                            position: absolute;
                                            height: 8px;
                                            top: 0;
                                            width: 8px;
                                        }
                                    }
                                }
                                &.altura-zerada{
                                    height: 0 !important;
                                }
                                &.active{
                                    padding: 20px 38px;
                                }
                                .produto{
                                    justify-content: center;
                                    padding: 11px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

// Responsivo

@media(max-width: 1670px){
    .header{
        .filho-container{
            .whatsapp{
                right: 10%;
            }
        }
    }

}

@media(max-width: 1570px){
    .header{
        .filho-container{
            .whatsapp{
                right: 9%;
            }
        }
    }
    
}

@media(max-width: 1420px){
    .header{
        .filho-container{
            .whatsapp{
                right: 8%;
            }
            .menu-desktop{
                li{
                    margin: 0 22px;
                }
            }
        }
    }

}

@media(max-width: 1294px){
    .header{
        .filho-container{
            .whatsapp{
                right: 5%;
            }
        }
    }

}

@media(max-width: 1200px){
    .header{
        .filho-container{
            .menu-desktop{
                li{
                    margin: 0 18px;
                }
            }
            .whatsapp{
                right: 3.5%;
            }
        }
    }
}

@media(max-width: 1000px){
    .header{
        .filho-container{
            .header-logo{
                margin-left: 18px;
                margin-right: 18px;
            }
            .menu-desktop{
                li{
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-left: 0;
                    }
                }
            }
            .whatsapp{
                right: 3%;
            }
        }
    }

}

@media(max-width: 860px){
    .header{
        .filho-container{
            justify-content: space-between;
            position: relative;
            .menu-desktop{
                width: auto;
                li{
                    display: none;
                }
            }
            .header-logo{
                margin-left: 0;
                margin-right: 0;
            }
            .container-menu-responsivo{
                display: flex;
                margin-top: 0;
                opacity: 1;
                .menu-responsivo{
                    .dropdown{
                        .lista-categorias{
                            .categoria{
                                transition: transform 0.3s;
                                &.active{
                                    .seta-categoria{
                                        bottom: auto !important;
                                        display: flex !important;
                                        top: 23px !important;
                                        img{
                                            transform: rotateZ(270deg) !important;
                                            transition: transform 0.8s !important;
                                        }
                                    }
                                }
                                &:hover{
                                    .seta-categoria{
                                        bottom: 0;
                                        display: flex;
                                        top: 0;
                                        img{
                                            transform: rotateZ(90deg);
                                            transition: transform 0.4s;
                                        }
                                    }
                                }
                                .seta-categoria{
                                    display: flex;
                                    justify-content: flex-end;
                                    left: 0;
                                    margin-right: 50px;
                                    right: 0;
                                    z-index: 9999;
                                    img{
                                        width: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .whatsapp{
                right: 90px;
            }
            .container-toggle-menu{
                display: flex;
            }

        }
    }

}

@media(max-width: 900px){
    .header{
        padding: 24px 0;
    }
}

@media(max-width: 640px){
    .header{
        padding: 18px 0;
        .filho-container{
            .header-logo{
                img{
                    height: 60px;
                }
            }
            .rastreio{
                display: none;
            }
            .container-menu-responsivo{
                top: 83px;
            }
        }
    }

}

@media(max-width: 568px){
    .header{
        .filho-container{
            .container-menu-responsivo{
                .menu-responsivo{
                    .dropdown{
                        .lista-categorias{
                            .categoria{
                                padding-left: 24px;
                                .seta-categoria{
                                    margin-right: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 480px){
    .header{
        .filho-container{
            .header-logo{
                width: auto;
                img{
                    height: 52px;
                }
            }
            .whatsapp{
                right: 66px;
                img{
                    max-width: 28px;
                }
            }
            .container-menu-responsivo{
                top: 75px;
            }
        }
    }

}