@import 'vars.styl';

.banner-superior{
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 442px;
    width: 100%;
    .filho-container{
        align-items: center;
        .frase{
            display: block;
            position: relative;
            &::before{
                background-color: $branco;
                content: '';
                height: 84px;
                left: -50px;
                position: absolute;
                top: -60px;
                transform: rotateZ(45deg);
                width: 3px;
            }
            &::after{
                background-color: $branco;
                bottom: -64px;
                content: '';
                height: 84px;
                position: absolute;
                right: -24px;
                transform: rotateZ(45deg);
                width: 3px;
            }
            &.fonte{
                color: $branco;
                font-family: $barlow;
                font-size: 45px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: left;
            }
            p{
                fonte_inherit(null);
                strong{
                    fonte_inherit(null);
                    font-weight: 600;
                }
            }
        }
    }
}

.engloba-produtos{
    background-color: $cinza_amarelado;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    .filho-container{
        position: relative;
        margin-top: 120px;
        margin-bottom: 328px;
        .linha-transversal{
            background-color: $vermelho;
            max-height: 100%;
            position: absolute;
            width: 2px;
            z-index: 0;
        }
        .categoria{
            align-items: center;
            display: flex;
            flex-flow: wrap;
            margin-bottom: 420px;
            width: 100%;
            &:last-child{
                margin-bottom: 0;
            }
            .ancora{
                opacity: 0;
                position: absolute;
                top: -100px;
            }
            // par
            &:nth-child(even){
                flex-flow: row-reverse;
                justify-content: flex-start;
                margin-right: 126px;
                .container-imagem{
                    margin-right: 106px;
                    &::after{
                        background-color: $vermelho;
                        content: '';
                        height: 396px;
                        left: 72px;
                        position: absolute;
                        top: -88px;
                        transform: rotateZ(45deg);
                        width: 6px;
                        z-index: 1;
                    }
                }
                .container-conteudo{
                    .container-titulo{
                        .pai-titulo{
                            h3{
                                margin-left: 40px;
                            }
                        }
                    }
                }
            }
            // Impar
            &:nth-child(odd){
                .container-imagem{
                    margin-left: 106px;
                    &::after{
                        background-color: $vermelho;
                        bottom: 0;
                        content: '';
                        height: 564px;
                        right: -200px;
                        position: absolute;
                        margin: auto 0;
                        top: 0;
                        width: 393px;
                        z-index: 1;
                    }
                }
                .container-conteudo{
                    justify-content: flex-end;
                    .container-titulo{
                        .pai-titulo{
                            h3{
                                margin-right: 40px;
                                &.fonte{
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .conteudo-centralizado{
                        .pai-descricao{
                            p{
                                text-align: right;
                            }
                        }
                    }
                }
            }
            .container-imagem{
                position: relative;
                width: fit-content;
                img{
                    display: block;
                    position: relative;
                    z-index: 5;
                }
            }
            .container-conteudo{
                align-items: center;
                display: flex;
                flex-flow: wrap;
                height: 100%;
                max-width: 390px;
                position: relative;
                width: 50%;
                .pai-titulo{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    h3{
                        display: flex;
                        margin-left: 40px;
                        position: relative;
                        width: fit-content;
                        &::after{
                            background-color: $cinza_57;
                            content: '';
                            height: 100%;
                            max-height: 28px;
                            position: absolute;
                            right: -28px;
                            top: 8px;
                            transform: rotateZ(45deg);
                            width: 2px;
                        }
                        &::before{
                            background-color: $cinza_57;
                            content: '';
                            height: 100%;
                            max-height: 28px;
                            left: -28px;
                            position: absolute;
                            top: 8px;
                            transform: rotateZ(45deg);
                            width: 2px;
                        }
                        &.fonte{
                            titulo_vermelho(null);
                            word-break: break-all;
                        }
                    }
                }
                .conteudo-centralizado{
                    width: 100%;
                    .pai-descricao{
                        display: block;
                        margin-bottom: 30px;
                        margin-top: auto;
                        width: 100%;
                        p{
                            texto_cinza(null);
                        }
                    }
                    ul{
                        display: flex;
                        flex-flow: wrap;
                        margin-bottom: auto;
                        width: 100%;
                        li{
                            align-items: center;
                            display: flex;
                            flex-flow: wrap;
                            font-weight: 500;
                            margin-left: 12px;
                            margin-right: 8px;
                            width: fit-content;
                            &:not(:first-child){
                                position: relative;
                                &::before{
                                    background-color: $vermelho;
                                    border-radius: 50%;
                                    content: '';
                                    height: 4px;
                                    left: -12px;
                                    position: absolute;
                                    width: 4px;
                                }
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                            a{
                                texto_cinza(null);
                            }
                        }
                    }
                }
                button{
                    bottom: 0;
                    position: absolute;
                }
            }
        }
    }
}


// Responsivo

@media(max-width: 1280px){
    .engloba-produtos{
        .filho-container{
            .categoria{
                justify-content: center !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
                &:nth-child(odd){
                    .container-imagem{
                        &::after{
                            right: -58px;
                        }
                    }
                }
            }
        }
    }

}

@media(max-width: 1180px){
    .engloba-produtos{
        .filho-container{
            margin-top: 100px;
            margin-bottom: 240px;
            .categoria{
                &:nth-child(even){
                    .container-imagem{
                        margin-right: 64px;
                        &::after{
                            left: 110px;
                        }
                    }
                }
                &:nth-child(odd){
                    .container-imagem{
                        margin-left: 64px;
                    }
                }
            }
        }
    }
    
}

@media(max-width: 1120px){
    .engloba-produtos{
        .filho-container{
            margin-top: 90px;
            margin-bottom: 180px;
            .categoria{
                flex-flow: wrap;
                margin-bottom: calc(1rem + 24vw);
                .container-imagem{
                    display: flex;
                    justify-content: center;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    width: 100%;
                }
                .container-conteudo{
                    background-color: $cinza_amarelado;
                    justify-content: center !important;
                    width: 100%;
                    .pai-titulo{
                        justify-content: center;
                        margin-bottom: 32px;
                        margin-top: 16px;
                        position: unset;
                        h3{
                            margin-left: auto;
                            margin-right: auto;
                            padding-right: 40px;
                            padding-left: 40px;
                            justify-content: center;
                            width: fit-content;
                            &::before{
                                bottom: 0;
                                left: 12px;
                                margin: auto 0;
                                top: 0;
                            }
                            &::after{
                                bottom: 0;
                                margin: auto 0;
                                right: 12px;
                                top: 0;
                            }
                            &.fonte{
                                text-align: center;
                            }
                        }
                    }
                    .pai-descricao{
                        p{
                            text-align: center !important;
                        }
                    }
                    button{
                        margin-top: 24px;
                        position: unset;
                    }
                }
                &:nth-child(even){
                    flex-flow: column-reverse;
                    .container-imagem{
                        margin-right: 64px;
                        &::after{
                            height: 70%;
                            left: 0;
                            margin-left: auto;
                            margin-right: auto;
                            right: 0;
                        }
                    }
                }
                &:nth-child(odd){
                    flex-flow: column-reverse;
                    .container-imagem{
                        &::after{
                            height: calc(100% - 1px);
                            left: 0;
                            margin-left: auto;
                            margin-right: auto;
                            max-width: 100%;
                            right: 0;
                            width: 600px;
                        }
                    }
                }
            }
        }
    }
    
}

@media(max-width: 768px){
    .engloba-produtos{
        .filho-container{
            margin-bottom: 140px;
        }
    }
}

@media(max-width: 568px){
    .banner-superior{
        height: 380px;
        .filho-container{
            .frase{
                &.fonte{
                    font-size: calc(1.7rem + 3vw);
                }
                &::before{
                    content: none;
                }
                &::after{
                    content: none;
                }
            }
        }
    }
    .engloba-produtos{
        .filho-container{
            margin-top: 70px;
            margin-bottom: 70px;
            .categoria{
                .container-imagem{
                    &::after{
                        content: none !important;
                    }
                }
                .container-conteudo{
                    .pai-titulo{
                        margin-bottom: 24px;
                        margin-top: 20px;
                        h3{
                            &.fonte{
                                font-size: 24px;
                            }
                        }
                    }
                    .conteudo-centralizado{
                        .pai-descricao{
                            margin-top: 0;
                            margin-bottom: 26px;
                        }
                        ul{
                            justify-content: center;
                            margin-bottom: 16px;
                            li{
                                a{
                                    text-align: center;
                                }
                            }
                        }
                    }
                    button{
                        margin-top: 0;
                    }
                }
            }
        }
    }

}