@import 'vars.styl';

.main-video{
    width: 100%;
    .container-video{
        align-items: center;
        display: flex;
        height: 99vh;
        justify-content: center;
        position: relative;
        overflow: hidden;
        width: 100%;
        video{
            height: auto;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: auto;
            z-index: -1000;
            -webkit-transform: translateX(-50%) translateY(-50%);
        }
        .texto{
            margin: 0 12px;
            position: absolute;
            &::before{
                background-color: $branco;
                content: '';
                height: 2px;
                left: -56px;
                position: absolute;
                top: 5px;
                transform: rotateZ(-45deg);
                width: 82px;
            }
            &::after{
                background-color: $branco;
                bottom: 11px;
                content: '';
                height: 2px;
                position: absolute;
                right: -56px;
                transform: rotateZ(-45deg);
                width: 82px;
            }
            p{
                titulo_branco(null);
            }
        }
        .container-seta{
            align-items: center;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            bottom: 50px;
            position: absolute;
            img{
                width: 42px;
                &:hover{
                    filter: grayscale(100%) brightness(26%) sepia(100%) hue-rotate(-53deg) saturate(700%) contrast(.8);
                }
            }
        }
    }
}

.secao-apos-video{
    background-color: $amarelo_fraco;
    display: flex;
    flex-flow: wrap;
    .filho-container{
        align-items: center;
        justify-content: flex-start;
        padding-top: 242px;
        .container-imagem{
            display: flex;
            margin-left: 106px;
            position: relative;
            .selo{
                left: -110px;
                position: absolute;
                top: -110px;
                width: 218px;
            }
        }
        .descricao{
            display: block;
            height: fit-content;
            margin-left: 80px;
            h1{
                align-items: center;
                display: flex;
                margin-bottom: 26px;
                margin-left: 40px;
                position: relative;
                width: fit-content;
                &::after{
                    background-color: $vermelho;
                    content: '';
                    height: 100%;
                    position: absolute;
                    right: -28px;
                    transform: rotateZ(45deg);
                    width: 2px;
                }
                &::before{
                    background-color: $vermelho;
                    content: '';
                    height: 100%;
                    left: -28px;
                    position: absolute;
                    transform: rotateZ(45deg);
                    width: 2px;
                }
                &.fonte{
                    titulo_cinza_escuro(null);
                }
            }
            p{
                texto_cinza(null);
                strong{
                    font-size: inherit;
                }
            }
            a{
                border-radius: 1px;
                font-weight: 600;
                height: 39px;
                margin-top: 38px;
                width: 157px;
            }
        }
    }
    .vantagens{
        margin-bottom: 100px;
        margin-top: 142px;
        position: relative;
        width: 100%;
        .linha-vermelha{
            background-color: $vermelho;
            height: 1px;
            margin-bottom: 94px;
            width: 100%;
        }
        .filho-container{
            justify-content: center;
            padding-top: 0;
            .legenda{
                display: flex;
                flex-flow: wrap;
                position: relative;
                width: auto;
                &:nth-child(2){
                    justify-content: center;
                    padding-left: 108px;
                    padding-right: 108px;
                    margin-left: 108px;
                    margin-right: 108px;
                    &::after{
                        background-color: $cinza_57;
                        bottom: 0;
                        content: '';
                        height: 150px;
                        margin-bottom: auto;
                        margin-top: auto;
                        opacity: 0.2;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 2px;
                    }
                    &::before{
                        background-color: $cinza_57;
                        bottom: 0;
                        content: '';
                        height: 150px;
                        left: 0;
                        margin-bottom: auto;
                        margin-top: auto;
                        opacity: 0.2;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 2px;
                    }
                }
                img{
                    margin-right: 24px;
                }
                .container-texto{
                    max-width: calc(100% - 100px);
                    p{
                        texto_destacado_cinza(null);
                        width: 100%;
                    }
                }
            }
        }
    }
}

.tudo-produtos{
    display: flex;
    flex-flow: wrap;
    padding-top: 114px;
    width: 100%;
    .filho-container{
        h3{
            position: relative;
            margin-bottom: 106px;
            margin-left: auto;
            margin-right: auto;
            &.fonte{
                titulo_cinza_escuro(null);
            }
            &::after{
                background-color: $vermelho;
                content: '';
                height: 100%;
                position: absolute;
                right: -28px;
                transform: rotateZ(45deg);
                width: 2px;
            }
            &::before{
                background-color: $vermelho;
                content: '';
                height: 100%;
                left: -28px;
                position: absolute;
                transform: rotateZ(45deg);
                width: 2px;
            }
        }
        .todos-cards{
            margin-bottom: 130px;
        }
    }
}

.importacao{
    background-color: $amarelo_fraco;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    min-height: 440px;
    padding: 25px 0;
    position: relative;
    .retangulo{
        background-color: $cinza_amarelado;
        bottom: 0;
        height: 290px;
        margin: auto 0;
        opacity: 0.6;
        position: unset;
        top: 0;
        min-width: 200px;
        width: calc(100vw - 804px - 29.4vw);
        z-index: 0;
        &.esquerda{
            left: 0;
        }
        &.direita{
            right: 0;
        }
    }
    .ajustes{
        margin: 0;
        padding: 0;
        width: 800px;
    }
    .filho-container{
        position: relative;
        transform: translateY(50px);
        z-index: 1;
        h3{
            position: relative;
            &.fonte{
                color: $vermelho;
                font-family: $barlow;
                font-size: 90px;
                font-stretch: normal;
                font-style: normal;
                font-weight: bold;
                letter-spacing: normal;
                line-height: 1.2;
                text-align: center;
            }
            span{
                bottom: -50px;
                position: absolute;
                right: -112px;
                &.fonte{
                    color: $verde_claro;
                    font-family: $castro;
                    font-size: 90px;
                    font-stretch: normal;
                    font-style: normal;
                    font-weight: normal;
                    letter-spacing: normal;
                    line-height: 1.21;
                    text-align: left;
                }
            }
        }
        .descricao{
            align-items: center;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            transform: translateX(-103px);
            width: 100%;
            img{
                margin-right: 32px;
                transform: translateY(-71px);
            }
            .container-texto{
                display: block;
                height: fit-content;
                margin-bottom: 100px;
                margin-left: 28px;
                position: relative;
                &::after{
                    background-color: $vermelho;
                    bottom: 0;
                    content: '';
                    height: calc(100% + 50px);
                    margin: auto 0;
                    position: absolute;
                    left: -28px;
                    top: 0;
                    width: 4px;
                }
                p{
                    texto_cinza(null);
                    strong{
                        font-size: inherit;
                    }
                }
            }
        }
    }
}

.contato{
    background-color: $branco;
    display: flex;
    flex-flow: wrap;
    padding-bottom: 210px;
    padding-top: 106px;
    width: 100%;
    .filho-container{
        h2{
            position: relative;
            titulo_cinza_escuro(null);
            &::before{
                background-color: $vermelho;
                content: '';
                height: 100%;
                left: -28px;
                position: absolute;
                transform: rotateZ(45deg);
                width: 2px;
            }
            &::after{
                background-color: $vermelho;                
                bottom: 0;
                content: '';
                height: 100%;
                margin: auto 0;
                position: absolute;
                right: -28px;
                top: 0;
                transform: rotateZ(45deg);
                width: 2px;
            }
            p{
                fonte_inherit(null);
                strong{
                    fonte_inherit(null);
                    font-weight: 600;
                }
            }
        }
        .cards{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            margin-top: 118px;
            width: 100%;
            .card{
                align-items: center;
                background-color: $branco;
                cursor: pointer;
                display: flex;
                flex-flow: wrap column;
                height: 240px;
                justify-content: center;
                margin-bottom: 30px;
                max-width: 100%;
                padding: 0 16px;
                text-align: center;
                transition: box-shadow 0.5s, transform 0.5s;
                width: 360px;
                &:hover{
                    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08);
                    transform: translateY(-24px) !important;
                    .pai-imagem{
                        img{
                            filter: grayscale(100%) brightness(26%) sepia(100%) hue-rotate(-53deg) saturate(700%) contrast(.8);
                        }
                    }
                }
                .pai-imagem{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-flow: wrap;
                    margin-bottom: 24px;
                    width: 100%;
                    img{
                        height: 72px;
                        transition: filter 0.5s;
                    }
                }
                strong{
                    texto_cinza(null);
                    font-weight: 500;
                }
                p{
                    texto_cinza(null);
                    text-align: center;
                }
            }
        }
    }
}

.container-mapa{
    display: flex;
    flex-flow: wrap;
    height: 660px;
    position: relative;
    width: 100%;
    #ancora-map{
        position: absolute;
        top: -230px;
    }
    #map{
        height: 100%;
        width: 100%;
    }
}


// Responsivo

@media(max-width: 1300px){
    .secao-apos-video{
        .filho-container{
            .container-imagem{
                margin-left: 88px;
                & > img{
                    width: 520px;
                }
                .selo{
                    left: -88px;
                    top: -88px;
                    width: 176px;
                }
            }
        }
    }
    .tudo-produtos{
        .filho-container{
            h3{
                margin-bottom: calc(1rem + 6vw);
            }
        }
    }
    .secao-apos-video{
        .vantagens{
            .filho-container{
                .legenda{
                    &:nth-child(2){
                        padding-left: 86px;
                        padding-right: 86px;
                        margin-left: 78px;
                        margin-right: 78px;
                    }
                }
            }
        }
    }

}

@media(max-width: 1280px){
    .secao-apos-video{
        .filho-container{
            justify-content: center;
            padding-top: calc(16vw + 0.6rem);
            .container-imagem{
                margin-left: 0;
                margin-right: 0;
            }
            .descricao{
                justify-content: center;
                margin-left: 14%;
                margin-right: 14%;
                margin-top: 30px;
                text-align: left;
                max-width: 100%;
                width: 388px;
                h1{
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }
                a{
                    margin-left: auto;
                    margin-right: auto;
                }
                p{
                    display: contents;
                }
            }
        }
        .vantagens{
            margin-bottom: 6vw;
            margin-top: calc(4.8vw + 2.5rem);
            .linha-vermelha{
                margin-bottom: calc(2rem + 4vw);
            }
            .filho-container{
                flex-flow: wrap column;
                justify-content: flex-start;
                .legenda{
                    flex-flow: wrap;
                    justify-content: center !important;
                    margin-bottom: 32px;
                    width: 100%;
                    &:nth-child(2){
                        padding-left: 0;
                        padding-right: 0;
                        margin-left: 0;
                        margin-right: 0;
                        &::after{
                            content: none;
                        }
                        &::before{
                            content: none;
                        }
                    }
                    img{
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .container-texto{
                        max-width: unset;
                        width: 100%;
                        p{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px){
    .tudo-produtos{
        padding-top: calc(3.5rem + 5vw);
        .filho-container{
            .todos-cards{
                margin-bottom: calc(2rem + 7vw);
            }
        }
    }
    .importacao{
        justify-content: center;
        .retangulo{
            display: none;
        }
        .ajustes{
            margin: 0 auto;
            padding: 0 18px;
            max-width: 100%;
            width: 100%;
        }
        .filho-container{
            h3{
                &.fonte{
                    font-size: calc(2rem + 4.9vw);
                }
                span{
                    font-size: calc(2rem + 4.9vw);
                }
            }
            .descricao{
                transform: translateX(0);
            }
        }
    }
    .contato{
        .filho-container{
            h2{
                &::after{
                    content: none;
                }
                &::before{
                    content: none;
                }
            }
        }
    }

}

@media(max-width: 1000px){
    .contato{
        padding-bottom: calc(1rem + 24vw);
        .filho-container{
            .cards{
                margin-top: calc(2rem + 8vw);
            }
        }
    }
}

@media(max-width: 860px){
    .importacao{
        padding-bottom: 22px;
        .filho-container{
            transform: translateY(0);
            h3{
                span{
                    right: 0;
                }
            }
            .descricao{
                margin-top: 24px;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(0px);
                }
                .container-texto{
                    margin-bottom: 24px;
                    margin-left: 0;
                    margin-top: 24px;
                    width: 100%;
                    &::after{
                        content: none;
                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }

}

@media(max-width: 768px){
    .main-video{
        .container-video{
            height: 78vh;
            .texto{
                p{
                    font-size: calc(1.4rem + 3vw);
                }
            }
        }
    }
    .secao-apos-video{
        .filho-container{
            .descricao{
                margin-left: 16px;
                margin-right: 16px;
            }
            .container-imagem{
                margin-left: 70px;
                margin-right: 70px;
                .selo{
                    top: -11vw;
                    left: -11vw;
                    width: 22vw;
                }
            }
        }
    }
    .modal-contato{
        max-width: 94%;
        padding: 0 40px;
    }
    .container-mapa{
        height: 600px;
    }

}

@media(max-width: 568px){
    .main-video{
        .container-video{
            height: 60vh;
        }
    }
    .secao-apos-video{
        .filho-container{
            .container-imagem{
                margin-left: 0;
                margin-right: 0;
                .selo{
                    display: none;
                }
            }
            .descricao{
                h1{
                    &::after, &::before{
                        height: 92%;
                    }
                    &.fonte{
                        font-size: 26px;
                    }
                }
                p{
                    display: contents;
                }
                a{
                    margin-top: 24px;
                }
            }
        }
    }
    .importacao{
        .filho-container{
            h3{
                &.fonte{
                    font-size: calc(2rem + 2.9vw);
                }
                span{
                    bottom: -32px;
                    &.fonte{
                        font-size: calc(2rem + 2.9vw);
                    }
                }
            }
            .descricao{
                img{
                    transform: translateY(10px);
                }
                .container-texto{
                    margin-top: 16px;
                }
            }
        }
    }
    .contato{
        .filho-container{
            .cards{
                .card{
                    width: 100%;
                }
            }
        }    
    }
    .container-mapa{
        height: 530px;
    }

}

@media(max-width: 460px){
    .tudo-produtos{
        .filho-container{
            h3{
                &::after{
                    content: none;
                }
                &::before{
                    content: none;
                }
            }
        }
    }
    .container-mapa{
        height: 450px;
    }

}

@media(max-width: 370px){
    .modal-contato{
        padding: 0 18px;
        .row{
            input,label{
                width: 96%;
            }
        }
    }
}

@media(max-width: 340px){
    .main-video{
        .container-video{
            height: 50vh;
        }
    }

}