$castro = 'castro';
$barlow = 'Barlow', sans-serif;

$preto = #000000;
$branco = #ffffff;
$cinza_57 = #575757;
$cinza_70 = #707070;
$vermelho = #951920;
$cinza_amarelado = #ede7d5;
$verde_claro = #00bd45;
$vermelho_a9 = #a90006;
$vermelho_cf = #cf1520;

$branco_amarelado = #fff4d3;
$amarelo_fraco = #fffaea;
$cinza_f7 = #f7f7f7;
$cinza_fa = #fafafa;
$cinza_db = #dbdbdb;
$cinza_e3 = #e3e3e3;
$cinza_e8 = #e8e8e8;
$cinza_ef = #efefef;
$cinza_e0 = #e0e0e0;
$cinza_d9 = #d9d9d9;
$cinza_c3 = #c3c3c3;
$cinza_ce = #cecece;
$cinza_84 = #848484;
$cinza_96 = #969696;
$cinza_8d = #8d8d8d;
$cinza_777 = #777777;
$cinza_89 = #898989;
$cinza_45 = #454545;
$cinza_escuro = #3e3e3e;

fonte_inherit(important){
    color: inherit important;
    font-family: inherit important;
    font-size: inherit important;
    font-stretch: inherit important;
    font-style: inherit important;
    font-weight: inherit important;
    letter-spacing: inherit important;
    line-height: inherit important;
    text-align: inherit important;
}

texto_vermelho(important){
    color: $vermelho important;
    font-family: $barlow important;
    font-size: 16px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: normal important;
    line-height: 1.19 important;
    letter-spacing: normal important;
    text-align: left important;
}

texto_branco_amarelado(important){
    color: $branco_amarelado important;
    font-family: $barlow important;
    font-size: 24px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: normal important;
    line-height: 1.21 important;
    letter-spacing: normal important;
    text-align: left important;
}

texto_destacado_branco(important){
    color: $branco important;
    font-family: $barlow important;
    font-size: 24px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: 600 important;
    line-height: 1.21 important;
    letter-spacing: normal important;
    text-align: left important;
}

texto_cinza(important){
    color: $cinza_57 important;
    font-family: $barlow important;
    font-size: 16px important;
    font-stretch: normal important;
    font-style: normal important;
    letter-spacing: normal important;
    line-height: 1.2 important;
    text-align: left important;
    strong{
        fonte_inherit(null);
        font-size: 20px important;
        font-weight: 600 important;
    }
}

texto_cinza_70(important){
    color: $cinza_70 important;
    font-family: $barlow important;
    font-size: 16px important;
    font-stretch: normal important;
    font-style: normal important;
    letter-spacing: normal important;
    line-height: 1.2 important;
    text-align: left important;
    strong{
        fonte_inherit(null);
        font-size: 20px important;
        font-weight: 600 important;
    }
}

titulo_branco(important){
    color: $branco important;
    font-family: $barlow important;
    font-size: 46px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: normal important;
    letter-spacing: normal important;
    line-height: 1.2 important;
    text-align: left important;
    strong, b{
        fonte_inherit(null);
        font-weight: 600;
    }
}

titulo_cinza_escuro(important){
    color: $cinza_57 important;
    font-family: $barlow important;
    font-size: 32px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: 500 important;
    letter-spacing: normal important;
    line-height: 1.19 important;
    text-align: center important;
}

texto_destacado_cinza(important){
    color: $cinza_57 important;
    font-family: $barlow important;
    font-size: 24px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: normal important;
    letter-spacing: normal important;
    line-height: 1.21 important;
    text-align: left important;
}

texto_destacado_vermelho(important){
    color: $vermelho important;
    font-family: $barlow important;
    font-size: 24px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: normal important;
    letter-spacing: normal important;
    line-height: 1.21 important;
    text-align: left important;
    strong{
        fonte_inherit(important);
        font-weight: 600;
    }
}

titulo_vermelho(important){
    color: $vermelho important;
    font-family: $barlow important;
    font-size: 32px important;
    font-stretch: normal important;
    font-style: normal important;
    font-weight: 500 important;
    letter-spacing: normal important;
    line-height: 1.2 important;
    text-align: left important;
    strong{
        fonte_inherit(important);
        font-weight: 600;
    }
}